<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<%- include('style', {skill:''}) %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/skills">Click to see my skills</a></p>
  </body>
</html>
